<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="./js/bootstrap.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.css">
   
</head>

<body>
    <div style="width:360px;padding:30px">
        <form id="userloginform" class="bs-example bs-example-form" role="form">
            <div class="input-group">
                <span class="input-group-addon">N</span>
                <input name="username" type="text" class="form-control" value="baiyangby">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">P</span>
                <input name="password" type="text" class="form-control" value="123456">
            </div>
            <div class="input-group">
                <span class="input-group-addon">Img</span>
                <input name="password" type="file" class="form-control" id="userImg">
            </div>
            <br>
            <button type="button" class="btn btn-default" id="login">登录测试</button>
            <button type="button" class="btn btn-default" id="upload">上传文件</button>
        </form>
    </div>
    <form action="/file_upload" method="post" enctype="multipart/form-data">
<input type="file" name="image" size="50" />
<br />
<input type="submit" value="上传文件" />
</form>


<h1>demo of HTML5 form-data</h1>

<form id="form-demo" enctype="multipart/form-data",action="javascript:">
    <label for="id-txt">要传递的文本信息</label>
    <input type="text" id="id-txt" name="name_txt"/>
    <br><br>
    <label for="id-file">选择上传的文件</label>
    <input type="file" id="id-file" name="file" />
    <br><br>
    <button type="button" id="sub-btn">提交</button>
</form>
</body>
<script>
    (function ($) {
        $.ajax({
               url:'http://127.0.0.1:3000/programmerdate/getlist',
               data:{name:'bai白云23'},
               type: 'GET',
               success: function(res){
                  console.log(res)
               }
           })
        $("#login").on("click", function () {
            var forms = $("#userloginform")
           $.ajax({
               url:'http://127.0.0.1:8080/login/login',
               data:{
                    account:'baiyang',
                   password:'baiyangby311'
               },
               type: 'POST',
               success: function(res){
                  
               }
           })
        })
        $("#upload").on("click",function(){
            var dataImg = new FormData();
            console.log($("#userImg"))
            dataImg.append("file", $("#userImg")[0].files[0]);
            console.log($("#userImg")[0].files[0])
            $.ajax({
				type:"post",
				url:"http://www.xuefengwx/uploadfile/upimg",
				cache: false, 
	            processData: false,  
	            contentType: false,
	           
				data:dataImg,
				success:function(data){
					console.log("data"+data);
				}
			})
        })
    })(jQuery)
</script>

</html>